# Gemini
# If GOOGLE_API_KEY is also set, it overrides this.
GEMINI_API_KEY=

# GOOGLE_API_KEY=
# GOOGLE_GENAI_USE_VERTEXAI=false

# OpenAI
# OPENAI_API_KEY=

# Anthropic
# ANTHROPIC_API_KEY=

# GROG
# GROQ_API_KEY=
